/* Typografy */

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Mukta:wght@500&display=swap');

html {
    font-size: 100%;
}

body {
    font-family: 'Arimo', sans-serif;
    line-height: $base-line-height;
    color: $font-color;
}

p,
td,
th,
li,
dd {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2em;
    margin-bottom: $magic-number * 1.2;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
}

.title * {
    color: $font-color;
}

.title p {
    font-style: italic;
}

.nav-toggle {
    color: $font-color;
}

a:link {
    color: $link-color;
}

a:hover {
    color: $link-hover-color;
}

a:visited {
    color: $link-visited-color;
}

.fade-title {
    width: 70%;
    background-image: linear-gradient(to right, $accent-color, $background-alternative-2-color);
} 

.gradient-title {
    width: 70%;
    background-image: linear-gradient(to right, $accent-color, $background-alternative-2-color);
}

.horizontal-line {
    border-top: 2px solid $accent-color;
    width: 60%;
    margin: auto;
    padding-bottom: 2em;
    padding-top: 2em;
}

.style-eight {
    overflow: visible; /* For IE */
    padding: 1em;
    border-top: 5px double $accent-color;
    color: $accent-color;
    text-align: center;
    clear: both;
    width: 70%;
    margin: auto;
    margin-top: 3em;
}

.style-eight::after {
    content: '⁂';
    display: inline-block;
    position: relative;
    top: -1.4em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: $background-alternative-2-color;
}
