$font-color: rgb(54, 53, 53);
$font-alternative-color: rgb(255, 255, 255);
$accent-color: #9CA69E;
$background-color: #DECACD;
$background-alternative-color: rgb(167, 134, 139);
$background-alternative-2-color: rgb(255, 255, 255);
$base-line-height: 1.4;
$base-font-size: 1.1em;
$magic-number: $base-line-height * $base-font-size;
$shadow-color: rgb(189, 187, 187);
$link-color: blue;
$link-hover-color: purple;
$link-visited-color: rgb(54, 53, 53);
