$font-color: rgb(180, 178, 178);
$font-alternative-color: #717070;
$accent-color: #7d3b00;
$background-color: #101d20;
$background-alternative-color: #0a1214;
$background-alternative-2-color: #002830;
$base-line-height: 1.4;
$base-font-size: 1.1em;
$magic-number: $base-line-height * $base-font-size;
$shadow-color: rgba(23, 22, 22, 0.5);
$link-color: rgba(248, 248, 157, 0.533);
$link-hover-color: rgb(235, 95, 182);
$link-visited-color: rgb(223, 234, 238);
