{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="text">
            <div class="top-bar">
            <ul class="horizontal-list"> 
            {% for page in pages("analysis")%}
            
                <li ><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
            </div>
            <div class="text">{{ content }}</div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}

</body>

</html>