{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <h1 class="colorful" style="text-align:center">Gallery - Matematik</h1>
        <div class="gallery">
            {{ content }}
        </div>
        <h1 style="text-align:center">Ett roligt klipp...</h1>
        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9HzRNs2xWBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
